body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
}

#turns {
    margin-left: auto;
}

#grid {
    margin-left:auto;
    margin-right:auto;
}

#grid TR TD{
    border:1px solid rgb(0, 0, 0);
    background: #6b726f;
    width: 45px;
    height: 45px;
    text-align: center;
}

#grid tr td.clickedBlue {
    background: blue;
}

#grid tr td.clickedRed {
    background: red;
}

button {
    margin: 12px;
}